<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Check-In Confirmation</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body onload="onload()">
  <%- include('../partials/navbar.ejs') %>

  <h1>Thank you for sharing!</h1>
  <h2>Your Check-In:</h2>
  <p><strong>Mood:</strong> <%= mood %></p>
  <p><strong>Prompt:</strong> <%= selected_prompt %></p>
  <p><strong>Journal Entry:</strong> <%= journal_entry %></p>

  <h2>Feedback:</h2>
  <p><%= feedback %></p>

  <h2>Activities to Improve Your Day:</h2>
  <ul>
    <% activities.forEach(activity => { %>
      <li><%= activity %></li>
    <% }) %>
  </ul>

  <h2>Motivating Affirmation:</h2>
  <p><%= affirmation %></p>

  <a href="/">Go back to the homepage</a>

  <script src="/script.js"></script>
  
</body>
</html>
