<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body onload="onload()">
    <%- include('../partials/navbar.ejs') %>
  <div><p>Your <%= results.selected_test %> test results</p> </div>
  <div id="your_answers">
    <div><p>Your answers</p></div>
    <% Object.keys(score_dict).forEach(key=>{ %>
      <% if(!key.startsWith('Q')) return; %>
      <div class="each_answer">
        <div>
          <p><%= questions[key.replace('Q','')].question %></p>
        </div>
        <div>
          <p><%= score_dict[key]%></p>
        </div>
      </div>
  
    <%})%>
  </div>


  <h1>TOTAL =<%= score_dict['total']%></h1>

  <div>
    <p>Score interpretation</p>
    <p><%=score_interpretation%></p>
  </div>
  <%- include('../partials/results_disclaimer.ejs') %>
  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>
</body>
</html>