<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
  <h1><%= results.selected_test %></h1>
  <% Object.keys(results).forEach(key=>{ %>
    <h1><%=  key %></h1>
    <h1><%= results[key]%></h1>

  <%})%>

  <h1>TOTAL =<%= score_dict['total']%></h1>
  <p><% if('inattention_total' in score_dict){%></p>
    innatention total: <%=score_dict['inattention_total']%>
<%}%>
<p><% if('hyperactivity_total' in score_dict){%></p>
  hyperactivity total: <%=score_dict['hyperactivity_total']%>
<%}%>
  <div>
    <p>Score interpretation</p>
    <p><%=score_interpretation%></p>
  </div>
  
</body>
</html>