<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body onload="onload()">
  <%- include('../partials/navbar.ejs') %>
  <main>
    <form method="post" action="/submit_test">
        <div>
          <input type="hidden" id="selected_test" name="selected_test" value="<%=selected_test%>">
            <% Object.entries(questions).forEach(([key, question]) => { %>
                <div id="question_<%=key%>">
                    <p><%= question.question %></p>
                    <%question.options.forEach((option,i)=>{
                        var option_snakecase = option.replaceAll(" ","_").toLowerCase();
                        option_id = option_snakecase + "_bttn_q"+key;
                        var name = "Q"+key
                        %>
                        <div>
                            <input type="radio" id="<%= option_id %>" name="<%=name%>" value="<%=option_snakecase%>">
                            <label for="<%=option_id%>"><%=option%></label>      
                        </div>
                <%})%>
            </div>
            <% }) %>

        </div>
        <div>
            <button type="submit">Evaluate</button>
        </div>
    </form>

  </main>
  <!-- Directs the script.js file, allowing, as of right now, to access Dark Mode -->
  <script src="/script.js"></script>

</body>
</html>